= stylesheet_link_tag 'input_urls'
= javascript_include_tag "input_urls"

%section
  #carouselExampleFade.carousel.slide.carousel-fade{"data-ride" => "carousel"}
    .carousel-inner
      .carousel-item.active
        %img.d-block.w-100{:alt => "...", :src => "https://ymimg1.b8cdn.com/resized/spotlight/856/web_artwork/webp_spotlight_web_New_Cars_Make_Desktop_Spotlight_Image.webp"}
%section.header
  .row.pt-1.pb-1
    .col-lg-12
      %h3.text-center YallaMotor Scraper
      %h5.text-center - scrapes pages and sub-pages -
%section.search-sec
  .container#input-urls-wrapper
    = render 'input_urls/partials/form', input_url: @input_url
%section.section-table
  = render 'input_urls/partials/urls', input_urls: @input_urls
%section.section-footer    
  .container
    .row
      .col-lg-12
        .row
          .col-lg-9.col-md-9.col-sm-12.p-0
            %b
              Assessment Task for the post Software Engineer.
          .col-lg-3.col-md-3.col-sm-12.p-0
            %b
              Developed By:
              Ahsan Awan
              devahsan.awan@gmail.com
