= simple_form_for input_url ,url: input_urls_path, method: :post do |f|    
  .row
    .col-lg-12
      .row
        .col-lg-9.col-md-9.col-sm-12.p-0
          = f.input :url, required: true, label: false, class: 'form-control search-slt target_url_input' , step: :any, as: :url, placeholder: "http://uae.yallamotor.com/new-cars/toyota"
        .col-lg-3.col-md-3.col-sm-12.p-0
          = f.submit "Scrape", data: {disable_with: "Scraping..."}, class: "btn btn-danger wrn-btn", id:"submit", onclick: "return validateform();"
        %p.error_messages
