.container
  .row.pt-1.pb-1
    .col-lg-1
      %h1.text-left.inline.home-link
        = link_to root_path do
          %i.fa.fa-home
    .col-lg-11
      %h3.text-center 
        = "Results for #{@input_url.url.split('/').last.try(:titleize)}"
      %h5.text-center 
        = "Scraped at (#{@input_url.created_at.strftime('%b %d, %Y')})"
  .row
    %table#results-table.stripe.row-border.order-column.table-striped.table-bordered{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th Type
          %th Title
          %th Price
      %tbody
        - car_models.each do |car_model|
          %tr
            %td 
              %b
                = "Car Model"
            %td
              %b
                = car_model.name
            %td
          - car_model.model_versions.each do |model_version|
            %tr
              %td 
                = "Car Version"
              %td
                = model_version.version_name
              %td
                = model_version.version_price