.container
  %h3.text-center Previously Scraped Data
  .row
    %table#urls-table.stripe.row-border.order-column{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th No.
          %th Company
          %th URL
          %th Scraped At
          %th Actions
      %tbody
        - input_urls.each_with_index do |input_url, index|
          %tr
            %td 
              = "#{index+1}."
            %td
              = input_url.url.split('/').last.try(:titleize)
            %td
              = input_url.url
            %td
              = input_url.created_at.strftime('%b %d, %Y')
            %td
              = link_to input_url_path(input_url), remote: true do
                %span.tooltip_span{"data-placement" => "top", "data-toggle" => "tooltip", :title => "View Results"}
                  %i.fa.fa-eye
              = link_to input_url_path(input_url), method: 'delete' do
                %span.tooltip_span{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Delete"}
                  .fa.fa-times.text-danger