.search-sec{
  padding: 2rem;
  input{
    width: 100%;
    height: 40px;
  }
}

.wrn-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 5;
  height: 40px;

}
@media (min-width: 992px){
  .header{
      position: relative;
      top: -300px;
      h3, h5{
        color: white;
      }      
  }
}
@media (min-width: 992px){
  .search-sec{
      position: relative;
      top: -177px;
      background: rgba(26, 70, 104, 0.51);
  }
}

@media (max-width: 992px){
  .search-sec{
      background: #1A4668;
  }
}

.container{
  margin-top: 15px;
}

.section-table{
  position: relative;
  top: -177px;
}

.section-footer {
  background: #1A4668;
  background: rgba(26, 70, 104, 0.51);
  position: relative;
  top: -100px;
  height: 50px;
}

th, td { white-space: nowrap; }
div.dataTables_wrapper {
  margin: 0 auto;
}

.error_messages{
  color: yellow;
  font-style: italic;
  padding-left: 20px;
}